@charset "utf-8";

main {
  background-color: var(--white-color);
  padding-bottom: 80px;
}

.logo {
  width: 60px;
  height: 50px;
  margin: 12px 0 0 12px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  color: var(--brown-color);
  text-align: center;
  margin: 40px 0;
}

main form {
  width: 295px;
  color: #a56d55;
  margin: 0 auto;
}

main form p {
  font-size: 12px;
}

.title {
  margin-bottom: 4px;
}

.caution {
  font-size: 8px;
  color: var(--red-color);
  margin-bottom: 4px;
}

main input {
  width: 100%;
  height: 20px;
  border: 1px solid var(--brown-color);
  padding-left: 5px;
  margin-bottom: 20px;
}

#post_code {
  width: 120px;
}

#password {
  margin-bottom: 40px;
}

button {
  font-size: 16px;
  background-color: var(--brown-color);
  width: 200px;
  height: 48px;
  display: block;
  margin: 0 auto;
  color: var(--white-color);
  cursor: pointer;
}

@media screen and (min-width:768px) {
  main {
    padding-bottom: 160px;
  }

  .main-inner {
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo {
    width: 80px;
    height: 67px;
    margin: 20px 0 0 20px;
  }

  h2 {
    font-size: 32px;
    margin: 73px 0 70px;
  }

  main form {
    width: 600px;
  }

  main form p {
    font-size: 24px;
  }

  .title {
    margin-bottom: 0;
  }

  .caution {
    font-size: 16px;
  }

  main input {
    height: 31.5px;
    margin-bottom: 30px;
  }

  #post_code {
    width: 182px;
  }

  #password {
    margin-bottom: 80px;
  }

  button {
    font-size: 20px;
    width: 300px;
    height: 60px;
  }

  button:hover {
    transform: translateY(-10px);
  }
}