@charset "utf-8";

main {
  background-color: #fff;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  color: #a56d55;
  text-align: center;
  margin: 32px 0 60px;
}

.login-box {
  font-size: 12px;
  text-align: center;
  border: 2px solid #e8c2ca;
  width: 295px;
  color: #a56d55;
  padding: 36px 0;
  margin: 0 auto;
}

.reverse {
  text-align: right;
  margin-top: 24px;
  margin-right: 40px;
  padding-bottom: 84px;
  color: var(--brown-color);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-transform: uppercase;
}

.reverse a {
  font-size: 12px;
  color: var(--brown-color);
}

@media screen and (min-width:768px) {
  h2 {
    font-size: 32px;
    margin: 80px 0;
  }

  .login-box {
    font-size: 24px;
    width: 600px;
    padding: 80px 0;
  }

  .reverse {
    max-width: 600px;
    margin: 20px auto 0;
    padding-bottom: 378px;
  }

  .reverse a {
    font-size: 20px;
  }

  .reverse a:hover {
    background-color: var(--sub-color);
    color: var(--black-color);
  }
}